<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="VectorNetSQLiteEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Documents and Settings\willi725\My Documents\My Dropbox\Visual Studio 2010\VectorNet\VectorNetSQLite.db&quot;'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
