VectorNetServer.suo
LynxVN.suo

*.csproj.user
*.vbproj.user
*.csproj.webinfo
*.vbproj.webinfo

VectorNet.Server/obj/
VectorNet.Server/bin/*/*.exe
VectorNet.Server/bin/*/*.dll
VectorNet.Server/bin/*/*.pdb
VectorNet.Server/bin/*/*.manifest
VectorNet.Server/bin/*/*.config

VectorNet.Server.GUI/obj/
VectorNet.Server.GUI/bin/*/*.exe
VectorNet.Server.GUI/bin/*/*.dll
VectorNet.Server.GUI/bin/*/*.pdb
VectorNet.Server.GUI/bin/*/*.manifest
VectorNet.Server.GUI/bin/*/*.config

LynxyLibrary/obj/
LynxyLibrary/bin/*/*.exe
LynxyLibrary/bin/*/*.dll
LynxyLibrary/bin/*/*.pdb
LynxyLibrary/bin/*/*.manifest
LynxyLibrary/bin/*/*.config

LynxVN/obj/
LynxVN/bin/*/*.exe
LynxVN/bin/*/*.dll
LynxVN/bin/*/*.pdb
LynxVN/bin/*/*.manifest
LynxVN/bin/*/*.config